.block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 5px;
    align-items: center;
    

    &:last-child {
        border: none;
    }
    
}
.input {
    font-family: "Roboto";
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-block: 12px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.block:has(input:checked) {
    & .input {
        color: rgba(0, 0, 0, 0.25);
        text-decoration: line-through;
    }
}

